.features {
  position: relative;
  width: 100%;
  padding: rem(60px) 0;

  background: linear-gradient(45deg, rgba(255, 102, 0, .8), rgba(75, 108, 193, .8)), url("../img/bg-bw1.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;

  overflow: hidden;

  box-sizing: border-box;

  h2 {
    color: #fff;
  }
}

.features__svg {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.features__list {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  li {
    width: calc(100% / 2 - #{rem(32px)});
    min-width: rem(248px);
    margin: 0 rem(16px);

    padding: rem(32px) rem(20px);
    margin-bottom: rem(32px);

    border-radius: rem(4px);
    box-shadow: rem(1px) rem(3px) rem(3px) rgba(0, 0, 0, 0.3);
    background: #fff;

    @media (min-width: $tablet) {
      min-width: rem(280px);

      width: calc(100% / 3 - #{rem(32px)});
    }

    @media (min-width: $desktop) {
      padding: rem(32px);
    }

    h4 {
      margin: 0;
      margin-top: rem(32px);
      font-size: rem(14px);
      font-weight: 700;
      color: $blue;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: $tablet) {
        font-size: rem(18px);
      }
    }

    p {
      margin: 0;
      margin-top: rem(12px);
      color: $main-txt;
    }
  }
}